@let localVisibleLayout = visibleLayout();


<main>

  <section class="section-hero">
    <header>

      <app-search (onFocus)="onVisibleLayout()" (onBlur)="onDisableLayout()" />

      <h1>Destacados de esta semana</h1>

      <div>
        <hr />
        <p>Tablas para compartir</p>
        <hr />
      </div>

    </header>

    <app-carrusel [items]="[]" />

  </section>

  @if(localVisibleLayout){
  <app-layout-search />
  }


  <section>

    <header class="section-clients-header">
      <h2>Lo que dicen nuestros clientes</h2>

      <p>Estamos muy orgullosos de ofrecer a nuestros clientes la mejor experiencia de Country Resto, y nos complace
        saber
        que nuestros esfuerzos son apreciados. Te invitamos a conocernos y a disfrutar de nuestros platos destacados en
        la
        ciudad de Buenos Aires.</p>
    </header>


    <div class="container-persons">
      @for (person of persons; track $index) {
      <app-person [person]="person" />
      }

    </div>

  </section>

</main>