@let configLocal = config();

<div>

  <label [for]="configLocal.ref">{{configLocal.label}}</label>
  <input [type]="!visiblePassword() ? configLocal.type :'text'" [name]="configLocal.ref"
    [placeholder]="configLocal.placeholder ??''"
    [class.invalid-input]="configLocal.control.invalid && configLocal.control.touched"
    [formControl]="configLocal.control" />

  @if(configLocal.control.invalid && configLocal.control.touched ){
  <small class="error">El campo es requerido</small>
  }


  @if(configLocal.validators && configLocal.validators.length > 0){

  @for(validate of configLocal.validators; track validate){

  @if(configLocal.control.touched && configLocal.control.hasError(validate.valid)){
  <small class="error">{{validate.message}}</small>
  }

  }

  }



  @if(configLocal.type === type.PASSWORD){

  @if(!visiblePassword()){
  <button type="button" class="icon" (click)="onVisibilityToggle()">
    <ng-icon [svg]="iconEyeOff"></ng-icon>
  </button>
  }@else{
  <button type="button" class="icon" (click)="onVisibilityToggle()">
    <ng-icon [svg]="iconEyed"></ng-icon>
  </button>
  }

  }

</div>