div{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  height: 100%;

  & > .error{
   color: var(--invalid);
  }
}


label{
  font-weight: 400;
}

input{
  height: 59px;
  width: 100%;
  padding-inline: 12px;
  border-radius: 6px;
  border: 0.6px solid #282828;
  color: var(--input-color-text);
  vertical-align: middle;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 400;

  &::placeholder{
    color: #000000
  }

  &:focus{
    border: none;
    outline: 2px solid var(--yellow-2);
  }

  &.invalid-input{
    border: none;
    outline: 2px solid var(--invalid);
    color: var(--invalid);
  }

}

.icon{
  position: absolute;
  inset-block: 50%;
  right: 4%;
}
