@let authRolLocal = authRol();

<header>

  <button class="hamburger" (click)="onActive()">
    <ng-icon [svg]="hamburgerIcon"></ng-icon>
  </button>

  <a routerLink="/">
    <img src="/logo/logo.svg" alt="logo" />
  </a>

  <nav>

    <menu>
      <li><a routerLink='/letter' routerLinkActive="link-active" class="hover-item-menu">Carta</a></li>
      <li><a routerLink='/' routerLinkActive="link-active" class="hover-item-menu">Promociones</a></li>
      <li><a routerLink='/' routerLinkActive="link-active" class="hover-item-menu">Contacto</a></li>
      <li><a routerLink='/' routerLinkActive="link-active" class="hover-item-menu">Mi Cuenta</a></li>
    </menu>

    <div class="container-buttons">


      @if(authRolLocal){
      <button class="logout">
        <ng-icon [svg]="logoutIcon"></ng-icon>
      </button>
      }@else {
      <button class="button-auth" (click)="onOpenModal()">
        Iniciar Sesión
      </button>

      }

      <button class="hover-item-menu">
        <ng-icon [svg]="cartIcon"></ng-icon>
      </button>

    </div>

  </nav>

</header>

<app-aside-bar [active]="activeAside" (onClose)="onClose()" />

<app-modal-auth #modalAuth />