header{
  position: sticky;
  inset-block-start: 0;
  inset-inline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  padding-inline: var(--padding-inline);
  background-color: var(--black);
  z-index: 4;
}

.logout{
  display: none;
}

menu{
  display: none;
}

.button-auth{
  display: none;
}

.cart{
  color: var(--white);
  &:hover{
     color: var(--yellow);
  }
}


@media screen and (min-width: 980px) {


  .button-auth{
    display: inline-block;
    min-width: 100%;
    color: var(--white);
     transition: background-color var(--transition-buttons);

    &:hover{
      color: var(--yellow);
    }

  }

  .hamburger{
    display: none;
  }
  .logout{
    display: block;
  }


  .container-buttons{
    display: flex;
  }


  nav{
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 467px;
  }

  menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
  }

}
