<footer>

  <img src="/logo/logo.svg" alt="logo" />

  <div>
    <dl>
      <dt class="title">Encontranos</dt>
      <dd class="info">
        <ng-icon [svg]="mapPinIcon"></ng-icon>
        <span>Urquiza 2345 - Capital</span>
      </dd>
    </dl>

    <dl>
      <dt class="title">Reservas</dt>
      <dd class="info">
        <ng-icon [svg]="phoneIcon"></ng-icon>
        <span>11 - 23232323</span>
      </dd>
    </dl>

    <dl>
      <dt class="title">WhatsApp</dt>
      <dd class="info">
        <ng-icon [svg]="whatsAppIcon"></ng-icon>
        <span>11- 45454545</span>
      </dd>

    </dl>

  </div>

  <dl>
    <dt class="title">Seguinos</dt>
    <dd class="container-social">
      <ng-icon [svg]="twitterIcon"></ng-icon>
      <ng-icon [svg]="facebookIcon"></ng-icon>

    </dd>
  </dl>

</footer>